name: Run Build

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build:
    name: Build
    runs-on: macos-latest
    
    env:
        xcodeproj: Baggle.xcodeproj
        scheme: Baggle
        platform: iOS Simulator
        simulator: iPhone 14
        APP_KEY: ${{ secrets.APP_KEY }}
        GOOGLESERVICE_INFO: ${{ secrets.GOOGLESERVICE_INFO }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Create xcconfig
        run: |
            mkdir ./Baggle/XCConfig
            echo "APP_KEY = ${APP_KEY}" >> ./Baggle/XCConfig/Baggle.xcconfig
            
      - name: Create GoogleService-info.plist
        run: |
            echo "${GOOGLESERVICE_INFO}" >> ./Baggle/Baggle/GoogleService-Info.plist
        
      - name: Start xcode build
        run: |
          xcodebuild clean build-for-testing \
          -onlyUsePackageVersionsFromResolvedFile \
          -project "$xcodeproj" \
          -scheme "$scheme" \
          -destination "platform=$platform,name=$simulator"
        working-directory: "./baggle"
