name: Run Build

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build:
    name: Build
    runs-on: macos-latest
    
    env:
        xcodeproj: PromiseDemo.xcodeproj
        scheme: PromiseDemo
        platform: iOS Simulator
        simulator: iPhone 14

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Start xcode build
        run: |
          xcodebuild clean build-for-testing \
          -onlyUsePackageVersionsFromResolvedFile \
          -project "$xcodeproj" \
          -scheme "$scheme" \
          -destination "platform=$platform,name=$simulator"
        working-directory: "./promiseDemo"
