name: Run Build

on:
  push:
    branches: [ "develop", "setting/**" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build:
    name: Build
    runs-on: macos-latest
    
    env:
        xcodeproj: Baggle.xcodeproj
        project: Baggle
        scheme: Baggle
        platform: iOS Simulator
        simulator: iPhone 14
        APP_KEY: ${{ secrets.APP_KEY }}
        GOOGLESERVICE_INFO: ${{ secrets.GOOGLESERVICE_INFO }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Create xcconfig
        run: |
            mkdir ./Baggle/XCConfig
            echo "APP_KEY = ${APP_KEY}" >> ./Baggle/XCConfig/Baggle.xcconfig
            
      - name: Create GoogleService-info.plist
        run: |
            echo "${GOOGLESERVICE_INFO}" >> ./Baggle/Baggle/GoogleService-Info.plist
        
      - name: Cache SwiftPM
        uses: actions/cache@v3
        with:
            path: ~/Library/Developer/Xcode/DerivedData/${{ env.PROJECT }}*/SourcePackages/
            key: ${{ runner.os }}-spm-${{ hashFiles('${{ env.PROJECT }}.xcworkspace/xcshareddata/swiftpm/Package.resolved') }}
            restore-keys: |
              ${{ runner.os }}-spm-

      - name: Cache DerivedData
        uses: actions/cache@v3
        with:
            path: ~/Library/Developer/Xcode/DerivedData
            key: ${{ runner.os }}-iOS_derived_data-xcode_${{ matrix.xcode }}
            restore-keys: |
              ${{ runner.os }}-iOS_derived_data-

      # - name: Start xcode build
      #   run: |
      #     xcodebuild clean build-for-testing \
      #     -onlyUsePackageVersionsFromResolvedFile \
      #     -project "$xcodeproj" \
      #     -scheme "$scheme" \
      #     -destination "platform=$platform,name=$simulator"
      #   working-directory: "./baggle"

      - name: Test
        run: |
          xcodebuild test \
          -project "$project/$xcodeproj" \
          -scheme "$scheme" \
          -destination "platform=$platform,name=$simulator"